/* Setup a few global properties that can
   be reused to help with consistency */

:root {
    --clr-white: #efefef;
    --clr-lightgray: #ddd;
    --clr-darkgray: #333;
    --clr-accent: #ee6352;

    --icon-plus: "\f067";
    --icon-check: "\f00c";
}


/* styling each component by defining the custom properties optional test */

.introduction {
    --title-size: calc(2rem + 5vw);
    --title-color: var(--clr-accent);

    padding: 5em 15vw;
}

.cta {
    --title-color: white;
    --list-icon: var(--icon-check);
    --list-icon-color: white;
    --button-bg: white;
    --button-text: var(--clr-darkgray);
    --button-scale: 2;

    background: var(--clr-accent);
    padding: 2em 15vw;
    margin-bottom: 3em;
}


footer {
    --title-color: var(--clr-accent);
    --title-weight: 300;

    color: var(--clr-lightgray);
    background: var(--clr-darkgray);
    padding: 3em 15vw;
    margin-top: 5em;
}

/* setting everything up */


.title {
    color: var(--title-color, var(--clr-darkgray));
    font-size: var(--title-size);
    font-weight: var(--title-weight, 700);

    margin: 0 0 .15em;
    grid-column: 1 / -1;
    line-height: 1;
}

.button {
    background: var(--button-bg, var(--clr-accent));
    color: var(--button-text, white);
    font-size: calc(var(--button-scale) * 1rem);

    padding: .5em 1.25em;
    border: 0;
    border-radius: 2em;
    cursor: pointer;
    transition: transform 175ms;
}

.button:hover {
    transform: scale(1.1);
}

/* generic styling that's not important
   for the demo */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Rubik, sans-serif;
    /*font-family: 'Work Sans', sans-serif;*/
    min-height: 100vh;
    font-size: 1.125em;
    line-height: 1.6;
    color: var(--clr-darkgray);
    background: var(--clr-lightgray);
}


code {
    background: rgba(238, 99, 82, .2);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background: #333333;*/
    /*background: rgba(0,0,0,0.5);*/
    background-image: linear-gradient(
            45deg,
            rgba(255, 0, 0, 0.658),
            rgba(0, 0, 255, 0.705)
);
    color: white;
    margin-bottom: 100px;
    padding: 200px 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    max-height: 100%;
}

.intro {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    max-width: 960px;

}

.row {
    display: flex;
}

.col {
    padding: 0 15px;
}
